#hero {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
}


#about{
    color: white;
    text-align: justify;
}

.card {
    text-align: justify;
}

#education {
    color: white;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}