#hero {
    min-height: 100vh;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    align-items: center;
}


#about{
    color: white;
    text-align: justify;
}

.card {
    text-align: justify;
}

#education {
    color: white;
}

.name {
    color: white;
}
